<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>

        <% include ../static/partials/navbar.ejs %>
        
        <main class="container">

            <% include ../static/partials/messages.ejs %>

            <h1>All Wikis</h1>

            <% if(currentUser) { %>
                <a href="/wikis/new" class="btn btn-success">New Wiki</a>
                <br/>
            <% } %>
            <table class="table table-hover">
                <thead>
                    <th scope="col">Wiki Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Created</th>
                </thead>
                <tbody>
                    <% wikis.forEach((wiki) => { %>
                        <% let userIsCollab %>
                        <% if(currentUser) { %>
                            <% userIsCollab = wiki.collaborators.filter(collab => collab.userId == currentUser.id).length > 0; %>
                        <% } else { %>
                            <% userIsCollab = false %>
                        <% } %>

                        <% if(!wiki.private || userIsCollab || wiki.userId == currentUser.id) { %>
                            <tr>
                                <td>
                                    <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                                </td>
                                <% if(userIsCollab) { %>
                                    <td class="table-info">
                                        <% } else if (wiki.userId == currentUser.id) { %>
                                    <td class="table-success">
                                        <% } else { %>
                                    <td>
                                <% } %>
                                    <% if(wiki.userId == currentUser.id) { %>
                                        Mine
                                    <% } else if (userIsCollab) { %>
                                        Collaborator
                                    <% } else { %>
                                        Public
                                    <% } %>
                                </td>
                                <td>
                                    <%= wiki.User.email %>
                                </td>
                                <td>
                                    <%= wiki.createdAt.toLocaleDateString() %>
                                </td>
                            </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
            
        </main>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>