<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <% include ../static/partials/messages.ejs %>

        <h1>New Wiki</h1>

        <form action="/wikis/create" method="POST">
            <div class="form-group">
                <label for="title">Wiki title</label>
                <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
            </div>
            <div class="form-group">
                <label for="body">body</label>
                <textarea name="body" class="form-control" rows="4" placeholder="Enter Body"></textarea>
            </div>
            <% if (currentUser.role !== 0) { %>
                <h3>Private or Public?</h3>
                <div class="form-group">
                    <div class="form-check">
                        <label for="private">Public</label>
                        <input type="radio" id="public" name="private" value="false" checked>
                    </div>
                    <div class="form-check">
                        <label for="private">Private</label>
                        <input type="radio" id="public" name="private" value="true">
                    </div>
                </div>
            <% } %>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
    
</body>
</html>